{% extends '::base.html.twig' %}

{% block body %}
    <h1>Add new page</h1>
    <form method="post" action="{{ path('zorbus_page_add') }}">
        {{form_widget(form)}}

        <input type="submit" value="Save">
    </form>
{% endblock %}